<!DOCTYPE html>
<html>
	<head>
		<title>Error</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
		<style>
			body{
				background-color: #AEDD6E;
				text-align: center;
				height:100%;
				margin:0;
				padding:0;
			}

			#message{
				margin-left:auto;
				margin-right:auto;
			}
			#messagebox{
				margin-top: 10px;
				margin-left:auto;
				margin-right:auto;
				width:10em;
			}
			a{
				text-decoration: none !important;
			}
		</style>
	</head>
	<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/">Summit Recycled</a>
	    <ul class="nav navbar-nav">
	    </ul>
	  </div>
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="/">Leaderboard</a></li>
	      	<li><a href="/user">My Stats</a></li>
	    </ul>
	  </div>
	</nav>
		<div id="messagebox">
			<div id="message">
				<blockquote><p>If it weren't for the prospect of spam, I would have given you another scan.</p><small><cite>Shakespeare</cite></small></blockquote>
			</div>
		</div>		
	</body>

</html>
