<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>User {{username}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
		<style>
			body{
				background-color: #AEDD6E;
				height:100%;
				margin:0;
				padding:0;
			}
			h3{
				text-align: center;
			}
			#userinfo{
				margin-left:auto;
				margin-right:auto;
			}
			#userbox{
				margin-left:auto;
				margin-right:auto;
				width:15em;
			}
			a{
				text-decoration: none !important;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="/">Summit Recycled</a>
		    <ul class="nav navbar-nav">
		    </ul>
		  </div>
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">   
		    <ul class="nav navbar-nav navbar-right">
		    	<li><a href="/">Leaderboard</a></li>
		      	<li class="active"><a href="/user">My Stats</a></li>
		    </ul>
		  </div>
		</nav>
		<div id="userbox">
			<div id="userinfo">
				<h3>My Stats</h3>
				<hr>
				<b>{{username}}</b></br>
				<hr>
				<b>Level: {{level}}<b>
				<hr>
				<b>Points: {{points}}</b>
				<hr>
			</div>
			<a href="{{logout_url}}"><button type="button" class="btn btn-danger btn-block">Logout</button></a>
		</div>	
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</body>

</html>
{% endautoescape %}